<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (cartProducts.length) { %>
                <ul class="cart__item-list">
                    <% for (product of cartProducts) { %>
                        <li class="cart__item">
                            <h1><%= product.title %></h1>
                            <h2>Quantity: <%= product.cart_item.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <%- include('../includes/csrf_protection.ejs') %>
                                <input type="hidden" value="<%= product.id %>" name="product_id">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% } %>
                </ul>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <%- include('../includes/csrf_protection.ejs') %>
                        <button type="submit" class='btn'>Order Now!</button>
                    </form>
                </div>
            <% } else { %>
                <h1>No products in da cart</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>